<div class="container mx-auto clearfix mt-2 mt-lg-2 px-2">
  <div class="border-top-thick">
    <p class="col-8 sm-width-full left py-2 mb-0">elisa zhang</p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0 footer-icons">
      <li class="inline-block mr-2">
        {% include email.html %}
      </li>
      <li class="inline-block mr-2">
        {% include linkedin.html %}
      </li>
      <li class="inline-block">
        {% include github.html %}
      </li>
    </ul>
  </div>
</div>

<script>
  // Any link pointing off-site (markdown links in descriptions/bodies included)
  // opens in a new tab. Internal navigation is left alone.
  (function () {
    document.querySelectorAll('a[href]').forEach(function (link) {
      var isHttp = link.protocol === 'http:' || link.protocol === 'https:';
      if (isHttp && link.hostname !== window.location.hostname) {
        link.setAttribute('target', '_blank');
        link.setAttribute('rel', 'noopener noreferrer');
      }
    });
  })();
</script>
